html,body{
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56, 56, 56);
    color: rgb(245,233,226);
}
p {
    padding: 5px;
}
.header{
    margin: 0;
    background-color: rgb(0,45,92);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-top: 5px solid rgb(46,134,171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid rgb(46,134,171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header-links{
    color:rgb(227,181,164);
    padding: 5px;
    text-decoration: none;
    
}


#portfoliopic{
    height: 400px;
    width: 600px;
    border-top: 5px solid rgb(46,134,171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid rgb(46,134,171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.centerthird{
    flex-grow: 1;
    margin: 10px 0px auto;
    background-color: rgb(0,45,92);
    text-align: center;
    align-items: center;
    border-top: 5px solid rgb(46,134,171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid rgb(46,134,171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bottomthird{
    background-color: rgb(0,45,92);
    text-align: center;
    align-items: center;
    /*height: 175px;*/
    border-top: 5px solid rgb(46,134,171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid rgb(46,134,171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 10px;

}
#contactinput{
    padding: 0px;
   /*height: 50px;--*/
   width: 300px;
   border-top: 5px solid rgb(46,134,171);
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   border-bottom: 5px solid rgb(46,134,171);
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   margin: 0 auto;
   text-align: center;
   
}
.footer{
    background-color: rgb(0,45,92);
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-top: 5px solid rgb(46,134,171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid rgb(46,134,171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}
.button{
    margin: 5px auto;
    background-color: rgb(212, 77, 92);
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 5px solid rgb(51,51,51);
    border-bottom-left-radius: 25px;
    color: white;
    font-size:medium;
}